@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;400&display=swap");
* {
    box-sizing: border-box;
    line-height: 1.8;
    padding: 0;
    margin: 0;
}
body {
    font-family: "Raleway", sans-serif;
}
.content {
    padding-top: 80px;
    padding-bottom: 2.5rem;
    min-height: 90vh;
    width: 100%;
    position: relative;
}
.login-wrapper {
    padding-top: 300px;
    height: 80vh;
}
.login-form {
    height: auto;
    padding: 2rem;
    background-color: #dadada;
    border-radius: 5px;
}

.carousel-item img {
    width: 600px !important;
}
.slider-text {
    background-color: rgba(133, 132, 141, 0.555) !important;
}
.trending-products {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 10px;
}
.trending-products img {
    width: 150px;
    height: auto;
}
.trending-products .card {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    color: #000 !important;
}
.trending-products a {
    text-decoration: none !important;
}
.card span {
    color: #000 !important;
}
.description {
    margin-top: 1rem;
}
.pricing-detail {
    padding-top: 5rem;
}
.product-detail img {
    width: 340px;
    height: auto;
}

.cart-buttons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
.search-box {
    width: 400px !important;
}
.table img {
    width: 100px;
    height: auto;
}
.total-cost {
    background-color: #d9d9d9;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
}
.cart-div {
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.empty-cart {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    margin-bottom: 2rem;
}
.cart-buttons {
    display: flex !important;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    padding: 2rem;
}
footer {
    position: absolute;
    padding: 1rem;
    text-align: center;
}
footer span{
    opacity: .4;
    text-transform: capitalize;
    font-weight: 500;
}
